
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.status|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.name|as_crispy_field }}
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.last_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.birthday|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.country|as_crispy_field }}
      </div>
    </div>
    {{ form.adress|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.email_adress|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.tel|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ form.country_actual|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.plus_haut_Niveau_de_scolarite|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.derniere_annee_de_scolarite_termine|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ form.domaine_etudes|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.plus_haut_Niveau_de_scolarite|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.etablissements_Frequentes|as_crispy_field }}
        </div>
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.domaine_d_etudes_desire_au_canada|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.type_d_etudes|as_crispy_field }}
        </div>
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.que_Comptez_vous_Faire_a_La_Fin|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.montant_Disponible_Pour_Mes_etudes|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.valeur_De_Vos_Biens_Et_Ceux_De_Vos_Parents|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.total_Des_Vos_Revenus_Mensuels|as_crispy_field }}
        </div>
       
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.moyenne_cumulative_dernier_diplome_obtenu|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.date_de_debut_souhaite|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.financement_Des_etudes_Et_Du_Sejour|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.comment_Avez_vous_Entendu_Parler_De_Nos|as_crispy_field }}
        </div>
    </div>
    {{ form.information_Supplementaire|as_crispy_field }}
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
{% endblock %}

